


.popular-main {
    margin-bottom: 300px;

}

.thumbs {
    display: none;
}

.item1 {

    cursor: pointer;
}
.car-top {
    margin-top: 20px;
}



.BrainhubCarousel__arrows:disabled {
    background-color: gray;
}

.BrainhubCarousel__arrows {
    background-color: red;
}




