
@keyframes ldio-t64fccpc3c {
    0% { transform: scale(1.1500000000000001) }
    100% { transform: scale(1) }
}
.ldio-t64fccpc3c div {
    position: absolute;
    width: 86.8px;
    height: 86.8px;
    top: 14.466666666666669px;
    left: 14.466666666666669px;
    background: #0e0505;
    animation: ldio-t64fccpc3c 1.1627906976744184s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.34883720930232553s;
}
.ldio-t64fccpc3c div:nth-child(2) {
    top: 14.466666666666669px;
    left: 115.73333333333332px;
    background: #f91a10;
    animation-delay: -0.23255813953488372s;
}
.ldio-t64fccpc3c div:nth-child(3) {
    top: 115.73333333333332px;
    left: 14.466666666666669px;
    background: #0e0505;
    animation-delay: 0s;
}
.ldio-t64fccpc3c div:nth-child(4) {
    top: 115.73333333333332px;
    left: 115.73333333333332px;
    background: #f91a10;
    animation-delay: -0.11627906976744186s;
}
.loadingio-spinner-cube-27uznk85fux {
    width: 217px;
    height: 217px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.ldio-t64fccpc3c {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-t64fccpc3c div { box-sizing: content-box; }

.spinner {
    margin: 0 auto;
}